
/*fontjes*/


@font-face {
    font-family: "Poppins";
    src: url("") format("ttf");
}

@font-face {
    font-family: "Montserrat";
    src: url("") format("ttf");
}



*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-size: 1em;
    background:var(--color-creme);
    color: var(--color-text);
    line-height: 1.4;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* kleurenpalletje */
:root {
    --color-dark: #004c4c;
    --color-creme:  #f5f5f5;
    --color-light: #fff;
    --color-green: #0d7c66;
    --color-accent: #009b77;
    --color-grey: #e6e6e6;
    --color-yellow:#FFD900;
    
    --color-light-darkmode: #003333;
    --color-grey-darkmode: #224444;
}


/*dark light modus*/
@media (prefers-color-scheme: dark) {
    :root{ 
      
        --color-dark: #001b1b;
        --color-light: #003333;
        --color-creme: #000f0f;
        --color-green: #0d7c66;
        --color-accent: #00c7a3;
        --color-text: #eafefe;
        --color-grey: #224444;

    }

}   

/*linkjes*/
a {
    text-decoration: none;
    color: inherit;
}



/*bovenste balk*/


aside {
    background-color: var(--color-light);
    color: var(--color-text);
    display: flex;
    justify-content: flex-end;
    gap: 1.5em;
    padding: 0.5em 1em;
}

aside a {
    display: flex;
    align-items: center;
    gap: 0.25em;
    font-size: 0.9em;
}



/*headertje*/


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75em 1em;
    background: var(--color-light);
}

header nav {
    display: flex;
    align-items: center;
    gap: 1em;
}

header > a img {
    width: 7em;
    height: auto;
}

header nav img {
    width: 1.75em;
    height: auto;
}



/*maina*/


main {
    padding-bottom: 2em;
}


/*basis footertje*/

footer {
    background: var(--color-light);
    color: var var(--color-dark);
}