

/* intro afbeelding */
section:nth-of-type(1) img {
    max-height: 20em;
    object-fit: cover;
}

/* introductie blokje */
section:nth-of-type(2) {
    padding: 1em;
    display: grid;
    gap: 1em;
}

section:nth-of-type(2) h1 {
    font-size: 1.8em;
}

section:nth-of-type(2) article {
    background: var(--color-light);
    padding: 1em;
    border-radius: 0.75em;
    display: grid;
    gap: 0.75em;
}

/* Zo werkt het */
section:nth-of-type(3) {
    padding: 1em;
    display: grid;
    gap: 0.75em;
}

/* vakantie blokje */
section:nth-of-type(4) article {
    background:var(--color-light);
    padding: 1em;
    display: grid;
    gap: 0.75em;
    border-radius: 0.75em;
}

/* voorwaarden */
 section:nth-of-type(5) {
    padding: 1em;
    display: grid;
    gap: 0.75em;
}

details {
    background: var(--color-light);
    padding: 1em;
    border-radius: 0.5em;
}

/* ook handig */
section:nth-of-type(6) {
    padding: 1em;
    display: grid;
    gap: 1em;
}

section:nth-of-type(6) section {
    background: var(--color-light);
    padding: 1em;
    border-radius: 0.75em;
    display: grid;
    gap: 0.5em;
}

/*feedback*/
 section:nth-of-type(7) {
    padding: 1.5em;
    text-align: center;
}

section:nth-of-type(7) button {
    font-size: 2em;
    background: none;
    border: none;
    cursor: pointer;
}
