/* layoutje*/

/* bovenste */
body > section:first-of-type{
	display:flex;
	justify-content:flex-end;
	padding:.5rem 1rem;
	gap:1.5rem
	}
	
	/* header row */
	header{
	display:flex;
	justify-content:space-between;
	align-items:center;
	padding:.75rem 1rem}
	
	/* nav header */
	header nav{
		display:flex;
		gap:1rem}
	
	/* sectie 1 */
	main>section:nth-of-type(1){
	display:grid;
	gap:.5rem;
	padding-bottom:1rem}
	
	/* sectie 2 */
	main>section:nth-of-type(2){
	padding:1rem}
	
	/* tegelgrid */
	main>section:nth-of-type(3) ul{
	display:grid;
	padding:1rem;
	gap:1rem;
	grid-template-columns:repeat(auto-fit,minmax(110px,1fr))
	}
	
	/* situatie/direct/meest */
	main>section:nth-of-type(4),
	main>section:nth-of-type(5),
	main>section:nth-of-type(6){
	display:grid;
	gap:.75rem;
	padding:1rem;
	margin:1rem}
	
	/* plan */
	main>section:nth-of-type(7){
	display:grid;
	margin:1rem;
	padding:1rem;
	gap:.75rem}
	
	/* ook interessant */
	main>section:nth-of-type(8) ul{
	display:grid;
	gap:1.5rem;
	padding:1rem}
	
	/* hulp */
	main>section:nth-of-type(9){
	text-align:center;
	padding:1.5rem}
	
	/* groene footer */
	main>section:nth-of-type(10){
	display:grid;
	gap:2rem;
	padding:2rem 1rem}
	
	main>section:nth-of-type(10) > section ul{
	display:grid;
	gap:.25rem}
	
	/* witte footer */
	footer{
	display:grid;
	gap:1rem;
	padding:1rem}
	
	footer ul{
	display:flex;
	gap:1rem;
	list-style:none}
	