/* bovenste balk */
body>section:first-of-type{
	background-color:var(--color-dark);
	color:var(--color-light);
	}

	body > section:first-of-type   a{
	display:flex;
	align-items:center;
	gap:.25rem;
	font-size:.9rem
}
	
	/* header */
	header{
	background:var(--color-light)
	}


	header img{
		width:28px;
		height:auto
	}

	main>section:nth-of-type(1) h1{
	margin:.5rem   1rem 0;
	font-size:1.6rem;
	font-weight:600
	}

	main>section:nth-of-type(1) p{
	margin:0 1rem;
	font-size:1rem
}

	main   >section:nth-of-type(1) a{
	background:var(--color-green);
	color:#fff;
	padding:.75rem;
	text-align:center;
	border-radius:.5rem;
	margin:1rem;
	display:block }
	
	/* welkom */
	main>section:nth-of-type(2) h2{
		margin:0;
		font-size:1.4rem}

	main>section:nth-of-type(2) p{
		margin:.25rem 0 1rem 
	}

	main>section:nth-of-type(2) input{
	width:100%;
	padding:.75rem;
	border-radius:.5rem;
	border:1px solid #ccc}
	
	/* tegels */
	main>section:nth-of-type(3) ul{
	list-style:none;
	margin:0;
	padding:1rem;
	display:grid;
	grid-template-columns:repeat(auto-fit,minmax(110px,1fr));
	gap:1rem}
	
	main > section:nth-of-type(3) li{
	background:#fff;
	padding:.75rem;
	border-radius:.75rem;
	text-align:center;
	display:grid;
	gap:.5rem;
	font-weight:500}
	
	/* drie blokken */
	main>section:nth-of-type(4),
	main>section:nth-of-type(5),
	main>section:nth-of-type(6){
	background:white;
	border-radius:.75rem;
	padding:1rem;
	margin:1rem;
	gap:.75rem;
	display:grid}
	
	main section:nth-of-type(4) img,
	main section:nth-of-type(5) img,
	main section:nth-of-type(6) img{
	width:35px}
	
	main section:nth-of-type(4) ul,
	main section:nth-of-type(5) ul,
	main section:nth-of-type(6) ul{
	list-style:none;margin:0;padding:0;display:grid;gap:.5rem}
	
	/* begin plan */
	main>section:nth-of-type(7){
	background:white;margin:1rem;padding:1rem;
	display:grid;gap:.75rem}
	
	/* ook interessant */
	main > section:nth-of-type(8) ul{
	list-style:none;
	margin:0;
	padding:1rem;
	display:grid;
	gap:1.5rem}
	
	main>section:nth-of-type(8) li{
	background:white;
	padding:1rem;
	border-radius:.75rem;
	display:grid;
	gap:.5rem}
	
	/* hulp nodig */
	main>section:nth-of-type(9) a{
	background:var(--color-accent);
	color:#fff;
	padding:.75rem;
	margin:1rem auto 0;
	border-radius:.5rem;
	display:block;
	width:fit-content}
	
	/* groene footer */
	main>section:nth-of-type(10){
	background:var(--color-dark);
	color:white;
	padding:2rem 1rem;
	display:grid;gap:2rem}
	
	main>section:nth-of-type(10) h3{
	margin:0 0 .5rem}
	
	main>section:nth-of-type(10) ul{
	margin:0;
	padding:0;
	list-style:none
}
	
	/* witte footer */
	footer{
	background:white;
	padding:1rem;
	display:grid;
	gap:1rem}
	
	footer ul{
	display:flex;
	gap:1rem;
	list-style:none;
	padding:0}
	